:root {
    --col-primary: #000000;
    --col-secondary: #FFFFFF;
}

.App, #root, html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    color: var(--col-primary);
    background-color: var(--col-secondary);
    display: flex;
    flex-direction: column;
}

.timer {
    font-size: 30vw;
    flex-grow: 4;
    display: flex;
}

.editor {

}

.invisible {
    visibility: hidden;
}

.ui {
    flex-grow: 3;
    background-color: var(--col-primary);
    color: var(--col-secondary);
}

.timer-value {
    align-self: center;
    margin: auto;
}
.btn{
    width: 50px;
    height: 50px;
    background-color: var(--col-secondary);
    color: var(--col-primary);
    border: none;
}
.input{
    width: 50px;
    height: 50px;
    background-color: var(--col-secondary);
    color: var(--col-primary);
    border: none;
}